@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 66% 52%;
    --primary-foreground: 0 0% 7%;

    --secondary: 29 61% 50%;
    --secondary-foreground: 0 0% 7%;

    --muted: 45 30% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 45 30% 25%;
    --accent-foreground: 45 66% 52%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 45 30% 20%;
    --input: 45 30% 20%;
    --ring: 45 66% 52%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 66% 52%;
    --primary-foreground: 0 0% 7%;

    --secondary: 29 61% 50%;
    --secondary-foreground: 0 0% 7%;

    --muted: 45 30% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 45 30% 25%;
    --accent-foreground: 45 66% 52%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 45 30% 20%;
    --input: 45 30% 20%;
    --ring: 45 66% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
